*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    padding: 10px 40px;
}
.small_container{
    height: 115px;
    width: 200px;
    img{
        width: 100%;
    }
}
.cover{
    margin-top: 20px; 
    margin-bottom: 20px;   
    width: 500px;
    img{
        width: 100%;
    }  
}


